
<%= form_tag({controller: "britecore_claims", action: "powerclaim_xml"}, method: "post") do %>
<table>
  <tr>
    <th>Select</th>
    <th>Claim No</th>
    <th>Policy No</th>
    <th>Insured</th>
    <th>Loss Date</th>
  </tr>
  <% claim = @claim
    begin 
  %>
    <tr>
      <td>
        <%= check_box_tag('claims[]', claim.id, true, :id => "claim_ids_#{claim.id}") %>
      </td>
      <td><%= claim.claimNumber  %></td>
      <td><%= claim.britecore_policy %></td>
      <td><%= claim.named_insureds[0].name %></td>
      <td><%= claim.lossDate.strftime("%Y-%m-%d") %></td>
    </tr>
  <% 
    rescue Exception => e
      puts e.message
    end 
  end
  %>
</table>
<p><%= submit_tag("Generate XML") %></p>